<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control mb-2"
        (keypress)="keyPressNumbers($event)"
        placeholder="Only Integer Numbers"
      />

      <input
        type="text"
        class="form-control mb-2"
        (keypress)="keyPressNumbersDecimal($event)"
        placeholder="Only Numbers with Decimals"
      />

      <input
        type="text"
        appInputFocus
        class="form-control mb-2"
        (keypress)="keyPressAlphaNumeric($event)"
        placeholder="Only AlphaNumeric"
      />

      <input
        type="text"
        class="form-control mb-2"
        (keypress)="keyPressAlphaNumericWithCharacters($event)"
        placeholder="Allow numbers, alpahbets, space, underscore"
      />
    </div>

    <div class="col-sm-12 mt-3">
      <form
        [formGroup]="form"
        (ngSubmit)="submitForm()"
        novalidate
        class="text-start"
      >
        <!-- Name control -->
        <div class="form-group row mb-2">
          <label class="col-sm-2 col-form-label"
            ><span class="required-asterisk">*</span>Name</label
          >
          <div class="col-sm-10">
            <!-- Alerts user when control is interacted or form is submitted about errors-->
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Enter name"
              [ngClass]="{
                'is-invalid': name?.invalid && (name?.dirty || name?.touched)
              }"
            />

            <!-- Validation messages -->
            <div
              class="invalid-feedback"
              *ngIf="(name?.invalid && name?.dirty) || name?.touched"
            >
              <div *ngIf="name?.errors?.['required']">Name is required</div>
              <div *ngIf="name?.errors?.['pattern']">
                Name must start with an alphabet with minimum length of 2
              </div>
            </div>
          </div>
        </div>

        <!-- Email control -->
        <div class="form-group row mb-2">
          <label class="col-sm-2 col-form-label"
            ><span class="required-asterisk">*</span>Email</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="Enter email"
              [ngClass]="{
                'is-invalid': email?.invalid && (email?.dirty || email?.touched)
              }"
            />

            <!-- Validation messages -->
            <div
              class="invalid-feedback"
              *ngIf="(email?.invalid && email?.dirty) || email?.touched"
            >
              <div *ngIf="email?.errors?.['required']">Email is required</div>
              <div *ngIf="email?.errors?.['email']">
                Please provide a valid email
              </div>
            </div>
          </div>
        </div>

        <!-- Card control -->
        <div class="form-group row mb-2">
          <label class="col-sm-2 col-form-label"
            ><span class="required-asterisk">*</span>Card</label
          >
          <div class="col-sm-10">
            <input
              credit-card
              type="text"
              formControlName="card"
              class="form-control"
              placeholder="Enter 16-digit card number"
              [ngClass]="{
                'is-invalid': card?.invalid && (card?.dirty || card?.touched)
              }"
            />

            <!-- Validation messages -->
            <div
              class="invalid-feedback"
              *ngIf="(card?.invalid && card?.dirty) || card?.touched"
            >
              <div *ngIf="card?.errors?.['required']">Card is required</div>
              <div *ngIf="card?.errors?.['card']">
                Please provide a valid card
              </div>
            </div>
          </div>
        </div>

        <!-- Address control -->
        <app-address [parent]="form"></app-address>

        <div class="text-end">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-primary mt-3"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
