<div
  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-2">{{ post?.title }}</h3>
    <p class="card-text mb-auto">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <!-- <a href="#" class="stretched-link">Continue reading</a> -->
  </div>
  <div class="col-auto d-none d-lg-block">
    <img
      [src]="post?.url"
      class="img-thumbnail rounded"
      loading="lazy"
      [alt]="post?.title"
    />
  </div>
</div>
