<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        routerLink="/posts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Posts</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/todos"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Todos</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/signup"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Signup</a
      >
    </li>
  </ul>
</header>

<main>
  <div class="text-center">
    <router-outlet></router-outlet>
    <div class="text-center my-2">{{ title }}</div>
  </div>

  <div
    class="text-center my-3"
    appRecaptcha
    (recaptchaSuccess)="onRecaptchaSuccess($event)"
  ></div>
</main>
